<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Northwind2.DAL"/>
    <assembly name="Northwind2.Repositories"/>
    <assembly name="Northwind2.BLL"/>
    <container>
        <register type="Northwind2.Repositories.Contracts.IUnitOfWork" 
                  mapTo="Northwind2.Repositories.Implementation.UnitOfWork">
            <lifetime type="singleton" />
            <constructor>
                <!--Set placeholder for value attribute and replace it at runtime-->
                <param name="connectionString"
                       value="{connectionString}" />
            </constructor>
        </register>

        <!-- Repositories Start -->
        <!-- Administration Start -->
        <register type="Northwind2.Repositories.Contracts.IContactTitleRepository"
                  mapTo="Northwind2.Repositories.Implementation.ContactTitleRepository"/>
        <register type="Northwind2.Repositories.Contracts.ICountryRepository"
                  mapTo="Northwind2.Repositories.Implementation.CountryRepository"/>
        <!-- Administration End -->
        <!-- Repositories End -->

        <!-- DAL Start -->
        <!-- Customers Start -->
        <register type="Northwind2.DAL.Contracts.ICustomerDAL"
                  mapTo="Northwind2.DAL.Implementation.CustomerDAL"/>
        <!-- Customers End -->

		<!-- Products Start -->
	    <register type="Northwind2.DAL.Contracts.IProductDAL"
	              mapTo="Northwind2.DAL.Implementation.ProductDAL"/>
	    <!-- Customers End -->
		
		<!-- Security Start -->
        <register type="Northwind2.DAL.Contracts.ISecurityDAL"
                  mapTo="Northwind2.DAL.Implementation.SecurityDAL"/>
        <!-- Security End -->
        <!-- DAL End -->

        <!-- BLL Start -->
        <!-- Customers Start -->
        <register type="Northwind2.BLL.Contracts.ICustomerBLL"
                  mapTo="Northwind2.BLL.Implementation.CustomerBLL"/>
        <!-- Customers End -->

		<!-- Customers Start -->
	    <register type="Northwind2.BLL.Contracts.IProductBLL"
	              mapTo="Northwind2.BLL.Implementation.ProductBLL"/>
	    <!-- Customers End -->
		
        <!-- Security Start -->
        <register type="Northwind2.BLL.Contracts.ISecurityBLL"
                  mapTo="Northwind2.BLL.Implementation.SecurityBLL"/>
        <!-- Security End -->
        <!-- BLL End -->
    </container>
</unity>
