<?xml version="1.0" 
      encoding="utf-8" ?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />

        <section name="log4net"
                 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <log4net>
        <!-- RollingFile is set to be a File Appender -->
        <appender name="RollingFile"
                  type="log4net.Appender.RollingFileAppender, log4net">
            <file value="C:\Logs\Northwind2ServiceWcfTests.log" />
            <appendToFile value="true" />
            <maximumFileSize value="1MB" />
            <maxSizeRollBackups value="2" />
            <datePattern value="yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %-50logger %-20method - %message%newline%newline" />
            </layout>
        </appender>

        <!-- DBAppender is set to be DB Appender -->
        <appender name="DBAppender"
                  type="log4net.Appender.AdoNetAppender">
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <connectionString value="data source=.;Initial Catalog=Northwind2Security;Integrated Security=true;multipleactiveresultsets=True;" />
            <commandText value="INSERT INTO dbo.Log ([Date], [Thread], [Level], [Logger], [User], [Message], [Exception]) VALUES  (@log_date, @thread, @log_level, @logger, @user, @message, @exception)"/>
            <parameter>
                <parameterName value="@log_date" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@thread" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%thread" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@log_level" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@logger" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@user" />
                <dbType value="String" />
                <size value="100" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%X{user}" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@message" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@exception" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>
        </appender>

        <!-- Set root logger level to DEBUG and its only appender to RollingFile -->
        <root>
            <level value="DEBUG" />
            <appender-ref ref="RollingFile" />
        </root>

        <!-- Print only messages of level DEBUG or above in the package Northwind2.* -->
        <logger name="Northwind2.*">
            <level value="DEBUG" />
        </logger>  

        <!-- Use DBLogger for appending logs to the database -->
        <logger name="DBLogger">
            <appender-ref ref="DBAppender" />
        </logger>
    </log4net>

    <unity configSource="Unity.config"/>

    <connectionStrings>
        <add name="Northwind2Context"
             connectionString="data source=.;initial catalog=Northwind2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Northwind2DataBinding" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                    </security>
                </binding>
                <binding name="Northwind2DataBinding_INorthwind2Service_INorthwind2Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16168/Implementation/Northwind2Service.svc"            
                binding="basicHttpBinding" bindingConfiguration="Northwind2DataBinding_INorthwind2Service_INorthwind2Service"
                contract="Northwind2ServiceReference.INorthwind2Service" name="Northwind2DataBinding_INorthwind2Service_INorthwind2Service" />
        </client>
    </system.serviceModel>
    
</configuration>