<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Northwind2.DAL"/>
    <assembly name="Northwind2.BLL"/>
    <container>

        <!-- DAL Start -->
        <!-- Customers Start -->
        <register type="Northwind2.DAL.Contracts.ICustomerDAL"
                  mapTo="Northwind2.DAL.Implementation.CustomerDAL"/>
        <!-- Customers End -->

        <!-- Security Start -->
        <register type="Northwind2.DAL.Contracts.ISecurityDAL"
                  mapTo="Northwind2.DAL.Implementation.SecurityDAL"/>
        <!-- Security End -->
        <!-- DAL End -->

        <!-- BLL Start -->
        <!-- Customers Start -->
        <register type="Northwind2.BLL.Contracts.ICustomerBLL"
                  mapTo="Northwind2.BLL.Implementation.CustomerBLL"/>
        <!-- Customers End -->

        <!-- Security Start -->
        <register type="Northwind2.BLL.Contracts.ISecurityBLL"
                  mapTo="Northwind2.BLL.Implementation.SecurityBLL"/>
        <!-- Security End -->
        <!-- BLL End -->
    </container>
</unity>
