<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Northwind2.Repositories"/>
    <container>
        <register type="Northwind2.Repositories.Contracts.IUnitOfWork"
                  mapTo="Northwind2.Repositories.Implementation.UnitOfWork">
            <lifetime type="singleton" />
            <constructor>
                <!--Set placeholder for value attribute and replace it at runtime-->
                <param name="connectionString"
                       value="{connectionString}" />
            </constructor>
        </register>

        <!-- Repository Start -->
        <!-- Administration Start -->
        <register type="Northwind2.Repositories.Contracts.IContactTitleRepository"
                  mapTo="Northwind2.Repositories.Implementation.ContactTitleRepository"/>
        <register type="Northwind2.Repositories.Contracts.ICountryRepository"
                  mapTo="Northwind2.Repositories.Implementation.CountryRepository"/>
        <!-- Administration End -->

        <!-- Administration Start -->
        <register type="Northwind2.Repositories.Contracts.ICustomerRepository"
                  mapTo="Northwind2.Repositories.Implementation.CustomerRepository"/>
        <!-- Administration End -->
        
        <!-- Repository End -->
    </container>
</unity>
